# Rust build artifacts
/target
**/target

# OS files
.DS_Store

# Node / Frontend build artifacts
node_modules
**/node_modules
/build
**/build
/.svelte-kit
**/.svelte-kit
/package

# Environment variables & Vite timestamps
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
